<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" data-bs-theme="dark">
<head>
<meta charset="UTF-8" />

<title>Timetrack</title>

<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/1.13.5/css/dataTables.bootstrap5.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/6.4.2/css/all.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/fullcalendar/5.11.3/main.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<link rel="icon" type="image/png" sizes="32x32" th:href="@{/png/favicon/favicon-32x32.png}" />
<link rel="icon" type="image/png" sizes="16x16" th:href="@{/png/favicon/favicon-16x16.png}" />

<script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.1/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/datatables/1.13.5/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/webjars/datatables/1.13.5/js/dataTables.bootstrap5.min.js}"></script>
<script th:src="@{/webjars/fullcalendar/5.11.3/main.js}"></script>
<script th:src="@{/js/helper.js}"></script>
<script th:src="@{/js/clock.js}"></script>
<script th:src="@{/js/schedule.js}"></script>

</head>
<body>
	<nav class="navbar navbar-expand-lg static-top">
		<div class="container-fluid" style="width: 98%">
			<i class="fa fa-calendar-alt"></i> <a class="navbar-brand" style="margin-left: 8px; z-index: 1" th:href="@{/}">Timetrack</a><br />
			<div class="version" th:text="${@manifestBean.getVersion()}"></div>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav" style="width: 100%">
					<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
						data-bs-toggle="dropdown" aria-expanded="false"> Module </a>
						<ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarScrollingDropdown">
							<li><a class="dropdown-item" th:href="@{/done/list}">Arbeitszeit</a></li>
							<li><a class="dropdown-item" th:href="@{/contact/list}">Kontakte</a></li>
							<li><a class="dropdown-item" th:href="@{/note/list}">Notizen</a></li>
							<li><a class="dropdown-item" th:href="@{/calendar}">Kalender</a></li>
							<li><hr /></li>
							<li><a class="dropdown-item" th:href="@{/logout}">[[${currentUser}]] abmelden</a></li>
						</ul></li>
					<li class="nav-item"><a class="nav-link titlemod"><font layout:fragment="title"></font></a></li>
					<li layout:fragment="menuitem" style="list-style-type: none"></li>
					<li layout:fragment="menu" style="list-style-type: none"></li>
					<li class="nav-item ms-auto"><div id="clock" class="clock" onclick="toggleTheme();resetClock()"></div></li>
				</ul>
			</div>
		</div>
		<script type="text/javascript">
		//<![CDATA[
			$(document).ready(function(){
				var theme = "[[${theme}]]";
				$("html").attr("data-bs-theme", theme);
				
				resetClock = function() {
					$("#clock").empty();
					var theme = $("html").attr("data-bs-theme");
					var arrowcolor;
					var scalecolor;
					var backgroundcolor;
					if (theme == "dark") {
						arrowcolor = "#fff";
						scalecolor = "#aaa";
						backgroundcolor = "rgba(0, 0, 0, 0.3)"
					} else {
						arrowcolor = "#099";
						scalecolor = "#000";
						backgroundcolor = "rgba(0, 0, 0, 0)";
					}
			  	new Clock(38, "#clock", arrowcolor, scalecolor, backgroundcolor);
			  }
			  resetClock();
			});
			//]]>
		</script>
	</nav>
	<main layout:fragment="content" class="page body"></main>
</body>
</html>