<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout/main.html}">
<head>
<title>Kalender</title>
</head>
<body>
	<font layout:fragment="title">Kalender</font>
	<ul layout:fragment="menu">
		<li class="nav-item" sec:authorize="hasRole('timetrack_user')"><a class="btn btn-outline-success" th:href="@{/calendar/add}"><i class="fas fa-plus"></i></a></li>
	</ul>
	<main layout:fragment="content">
		<ul class="nav nav-tabs navback" role="tablist">
			<li class="nav-item"><a class="nav-link navlinkstyle active" data-bs-toggle="tab" href="#div_dashboard">Kalender</a></li>
			<li class="nav-item"><a class="nav-link navlinkstyle" data-bs-toggle="tab" href="#div_options">Einstellungen</a></li>
		</ul>
		<div class="tabdivblurred tab-content">
			<div id="div_dashboard" class="tab-pane active tab-pane-glassy">
				<div sec:authorize="hasRole('timetrack_user')">
					<div id="calendar"></div>
					<script th:inline="javascript">
					/*<![CDATA[*/
						$(document).ready(function() {
							var the_events = /*[(${events})]*/ '[]';
							var the_div = document.getElementById('calendar');
							var c = new FullCalendar.Calendar(the_div, {
								initialView: 'timeGridWeek',
								events: the_events,
								dateClick: function(info) {
									alert(info.dateStr);
									// TODO: call /calendar/add/{d}(d='info.dateStr')
								},
								eventClick: function(info) {
									alert(info.event.title);
									// TODO: call /calendar/edit/{d}(d='info.dateStr')
								}
							});
							c.setOption('locale', 'de');
							c.setOption('height', 'auto');
							c.render();
						});
						/*]]>*/	
					</script>
				</div>
			</div>
			<div id="div_options" class="tab-pane fade tab-pane-table">
				<div sec:authorize="hasRole('timetrack_user')">
					<!-- TODO: add the options here -->
				</div>
			</div>
		</div>
	</main>
</body>
</html>