<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout/main.html}">
<head>
<title>Notiz aktualisieren</title>
</head>
<body>
	<ul layout:fragment="menu">
	</ul>
	<main layout:fragment="content">
		<div class="container formpane">
			<form th:action="@{/note/upsert}" th:object="${noteBean}" method="post">
				<div class="row mb-3" th:style="${noteBean.pk == null ? 'display: none' : ''}">
					<label for="inputPk" class="col-sm-2 col-form-label">Inhalt von Eintrag</label>
					<div class="col-sm-10">
						<input id="inputPk" type="text" th:field="*{pk}" class="form-control" readonly="readonly" />
					</div>
				</div>
				<div class="row mb-3">
					<label for="inputTitle" class="col-sm-2 col-form-label">Titel</label>
					<div class="col-sm-10">
						<input id="inputTitle" type="text" th:field="*{title}" class="form-control" />
					</div>
				</div>
				<div class="row mb-3">
					<label for="inputCategory" class="col-sm-2 col-form-label">Kategorie</label>
					<div class="col-sm-10">
						<select id="inputCategory" class="form-control select2-single" th:field="*{category}">
							<option th:each="i : ${categories}" th:value="${i}" th:text="${i.literal}"></option>
						</select>
					</div>
				</div>
				<div class="row mb-3">
					<label for="inputContent" class="col-sm-2 col-form-label">Inhalt</label>
					<div class="col-sm-10">
						<input id="inputContent" type="text" th:field="*{content}" class="form-control" />
					</div>
				</div>
				<div class="row mb-3">
					<label for="inputType" class="col-sm-2 col-form-label">Typ</label>
					<div class="col-sm-10">
						<select id="inputType" class="form-control select2-single" th:field="*{type}">
							<option th:each="i : ${types}" th:value="${i}" th:text="${i.literal}"></option>
						</select>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-sm-2">Änderung</div>
					<div class="col-sm-10">
						<button type="submit" class="btn btn-success">speichern</button>
						<button type="submit" class="btn btn-secondary" th:formaction="@{/note/list}">abbrechen</button>
						<div class="dropdown float-right" th:if="${noteBean.pk != null}" sec:authorize="hasRole('timetrack_user')">
							<button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Eintrag löschen</button>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" th:href="@{/note/delete/{id}(id=${noteBean.pk})}">endgültig löschen</a></li>
							</ul>
						</div>
					</div>
				</div>
			</form>
		</div>
	</main>
</body>
</html>