<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout/main.html}">
<head>
<title>Notizen</title>
</head>
<body>
	<font layout:fragment="title">Notizen</font>
	<ul layout:fragment="menu">
		<li class="nav-item" sec:authorize="hasRole('timetrack_user')"><a class="nav-link btn btn-success btn-white-text" th:href="@{/note/add}">Neue Notiz
				anlegen</a></li>
	</ul>
	<main layout:fragment="content">
		<ul class="nav nav-tabs navback" role="tablist">
			<li class="nav-item"><a class="nav-link navlinkstyle active" data-bs-toggle="tab" href="#div_dashboard">Dashboard</a></li>
			<li class="nav-item"><a class="nav-link navlinkstyle" data-bs-toggle="tab" href="#div_list">Liste</a></li>
		</ul>
		<div class="tabdivblurred tab-content">
			<div id="div_dashboard" class="tab-pane active">
				<div class="row row-cols-12 ro-cols-lg-3 ro-cols-md-2 ro-cols-sd-1 g-4" style="margin: 8px">
					<div class="col" th:each="note : ${noteList}">
						<div class="card shadow" style="width: 100%">
							<div class="card-header text-center">
								<font th:text="${note.category}" style="font-size: larger">:</font> <font th:text="${note.title}"
									style="font-size: larger; font-weight: bolder"></font>
							</div>
							<div class="card-body">
								<div class="d-flex justify-content-center align-items-center">
									<pre th:text="${note.content}"></pre>
									<a th:href="@{/note/edit/{id}(id=${note.pk})}" sec:authorize="hasRole('timetrack_user')" style="margin-left: 8px;">
										<i class="fa fa-edit"></i>
									</a>
								</div>
							</div>
							<div class="card-footer">
								<span th:text="${note.type}"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="div_list" class="tab-pane fade tab-pane-table">
				<div class="accordion-body">
					<table id="table" class="table table-striped table-condensed">
						<thead>
							<tr>
								<th>Titel</th>
								<th>Kategorie</th>
								<th>Inhalt</th>
								<th>Typ</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="note : ${noteList}">
								<td><a th:href="@{/note/edit/{id}(id=${note.pk})}"><span th:text="${note.title}"></span></a></td>
								<td><a th:href="@{/note/edit/{id}(id=${note.pk})}"><span th:text="${note.category}"></span></a></td>
								<td><a th:href="@{/note/edit/{id}(id=${note.pk})}"><span th:text="${note.content}"></span></a></td>
								<td><a th:href="@{/note/edit/{id}(id=${note.pk})}"><span th:text="${note.type}"></span></a></td>
							</tr>
						</tbody>
					</table>
					<script type="text/javascript">
						$(document).ready(function(){
							var localeUrl = '[[@{/js/dataTables/de.json}]]';
							$("#table").DataTable({
								"language" : {
									"url" : localeUrl
								}
							});
						});
					</script>
				</div>
			</div>
		</div>
	</main>
</body>
</html>