<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout/main.html}">

<head>
	<title>Timetrack</title>
</head>

<body>
	<ul layout:fragment="menu">
	</ul>
	<main layout:fragment="content">
		<div class="card" style="width: 312px; margin: 24px">
			<div class="card-header"><a class="btn btn-seondary btn-bordered btn-secondaryhover" style="width: 100%"
					th:href="@{/done/list}">heutige Arbeitszeiten</a></div>
			<div class="card-body">
				<div class="container">
					<div class="row">
						<div class="col-8"><span class="spanlabel">Start:</span></div>
						<div class="col-4"><span class="emphgreen" th:text="${sum.start}"></span></div>
						<div class="col-8"><span class="spanlabel">Ende:</span></div>
						<div class="col-4"><span class="emphgreen" th:text="${sum.end}"></span></div>
						<div class="col-8"><span class="spanlabel">Arbeitszeit total:</span></div>
						<div class="col-4"><span class="emphblue" th:text="${sum.total}"></span></div>
						<div class="col-8"><span class="spanlabel">Pausezeit total:</span></div>
						<div class="col-4"><span class="emphorange" th:text="${sum.pause}"></span></div>
						<div class="col-8"><span class="spanlabel">Überstunden:</span></div>
						<div class="col-4"><span class="emphred" th:text="${sum.overdue}"></span></div>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<span th:if="${sum.getBillingTime('WP2') != '0,0 h'}"><span class="billing WP2">WP2</span><span
						th:text="${sum.getBillingTime('WP2')}" class="distfat"></span></span> <span
					th:if="${sum.getBillingTime('WP4') != '0,0 h'}"><span class="billing WP4">WP4</span><span
						th:text="${sum.getBillingTime('WP4')}" class="distfat"></span></span> <span
					th:if="${sum.getBillingTime('WP5') != '0,0 h'}"><span class="billing WP5">WP5</span><span
						th:text="${sum.getBillingTime('WP5')}" class="distfat"></span></span> <span
					th:if="${sum.getBillingTime('TA3') != '0,0 h'}"><span class="billing TA3">TA3</span><span
						th:text="${sum.getBillingTime('TA3')}" class="distfat"></span></span> <span class="billing">X</span><span
					th:text="${sum.getBillingTime(null)}" class="distfat"></span>
			</div>
		</div>
	</main>
</body>

</html>