html {
	height: 100%;
}

body {
	background-color: #99c1f1;
	height: calc(100% - 56px);
}

[data-bs-theme=dark] body {
	background-color: rgb(36, 31, 49);
}

.openedSelect {
	overflow: auto;
}

.titlemod {
	font-weight: bolder;
	color: darkcyan !important;
	font-variant: small-caps;
}

.navlinkstyle {
	color: black;
}

[data-bs-theme=dark] .navlinkstyle {
	color: #aaa;
}

.navlinkstyle:hover {
	color: #1a5fb4;
}

.navback {
	background-color: ghostwhite;
}

[data-bs-theme=dark] .navback {
	color: ghostwhite;
	background-color: #222;
}

.tabdivblurred {
	padding: 8px;
	padding-bottom: 0px;
	height: calc(100% - 42px);
}

.float-right {
	float: right;
}

.noty {
	background-image: linear-gradient(to bottom, #ffc, #ee0) !important;
}

[data-bs-theme=dark] .noty {
	background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(229, 165, 10)) !important;
}

.glassy {
	background-color: rgba(0, 0, 0s, 0.1);
}

.formpane {
	margin: 24px;
	border: 1px solid silver;
	border-radius: 4px;
	padding: 24px;
	background: whitesmoke;
	min-width: 95vw !important;
}

[data-bs-theme=dark] .formpane {
	background: #111;
}

.menudangerbutton {
	color: #e00 !important;
	border: 1px solid rgba(0, 0, 0, 0);
}

.menudangerbutton:hover {
	color: #f00 !important;
	border: 1px solid silver;
	border-radius: 4px;
	background: rgba(255, 0, 0, 0.2);
}

.redfont {
	color: #a00;
	padding-top: 6px;
	margin-bottom: 0px;
}

.body {
	height: calc(100% - 4px);
	width: 100%;
	overflow: auto;
}

.page {
	width: 100%;
	background-image: linear-gradient(to bottom, #99c1f1, #1a5f64)
		!important;
}

[data-bs-theme=dark] .page {
		background-image: linear-gradient(to bottom, #123, #111)
		!important;
}

.emph {
	border-radius: 3px !important;
	border: 1px solid #3070b0 !important;
	color: #ffffff !important;
	background-image: linear-gradient(to bottom, #337ab7 0%, #265a88 100%)
		!important;
}

[data-bs-theme=dark] .emph {
	color: #ffffff !important;
	background-image: linear-gradient(to bottom, #113531 0%, #135 100%)
		!important;
	
}

.doneoverviewtext {
	font-size: 120%;
}

.doneoverviewtextemph {
	font-size: 120%;
	font-weight: bolder;
}

.loginpanel {
	margin-top: 100px !important;
	margin: 0 auto;
	max-width: 400px !important;
	width: 400px !important;
}

.successWell {
	background-image: linear-gradient(to bottom, #ceeaca 0%, #f7fff7 100%)
		!important;
}

.dangerWell {
	background-image: linear-gradient(to bottom, #eacaca 0%, #fff7f7 100%)
		!important;
}

.billing {
	color: black !important;
	border: 1px solid darkgray;
	border-radius: 16px;
	padding: 4px !important;
	padding-left: 8px !important;
	padding-right: 8px !important;
	font-weight: bolder;
	font-size: smaller
}

[data-bs-theme=dark] .billing {
	color: white !important;
}

.WP2 {
	background: radial-gradient(#ffff00, #ffe169) !important;
}

[data-bs-theme="dark"] .WP2 {
	color: black !important;
}

.WP4 {
	color: black;
	background: radial-gradient(#00ffff, #69c3ff) !important;
}

[data-bs-theme="dark"] .WP4 {
	color: black !important;
}

.WP5 {
	color: black;
	background: radial-gradient(#ff0000, #e396ff) !important;
}

[data-bs-theme="dark"] .WP5 {
	color: black !important;
}

.TA3 {
	color: black;
	background: radial-gradient(#99ff99, #ccffcc) !important;
}

[data-bs-theme="dark"] .TA3 {
	color: black !important;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.distfat {
	margin-left: 8px;
	font-weight: bolder;
}

.prompt {
	margin: 4px;
	padding: 4px !important;
	padding-bottom: 2px !important;
	font-size: medium !important;
	background-color: #005782 !important;
}

.version {
	font-size: small;
	color: silver;
	position: absolute;
	padding-top: 36px;
	padding-left: 22px;
	z-index: 0;
}

.fc-content {
	cursor: pointer;
}

.btn-white-text {
	color: white !important;
	font-weight: bolder;
}

.hoverlink {
	text-decoration: none;
	color: black;
	padding: 4px;
	border: 1px solid rgba(1, 1, 1, 0.0);
	border-radius: 4px;
}

[data-bs-theme=dark] .hoverlink {
	color: white;
}

.hoverlink:hover {
	color: white;
	background-image: linear-gradient(to right bottom, #99c1f1, #1a5f64);
}

.boldtext {
	font-weight: bolder;
}

.emphgreen {
	font-weight: bolder;
	color: #136600;
	border: 1px solid gray;
	border-radius: 8px;
	background-image: linear-gradient(to left, #e6e6e6, white);
	padding: 4px;
}

.emphblue {
	font-weight: bolder;
	color: #1a5fb4;
	border: 1px solid gray;
	border-radius: 8px;
	background-image: linear-gradient(to left, #e6e6e6, white);
	padding: 4px;
}

.emphorange {
	font-weight: bolder;
	color: #c64600;
	border: 1px solid gray;
	border-radius: 8px;
	background-image: linear-gradient(to left, #e6e6e6, white);
	padding: 4px;
}

.emphred {
	font-weight: bolder;
	color: #a51d2d;
	border: 1px solid gray;
	border-radius: 8px;
	background-image: linear-gradient(to left, #e6e6e6, white);
	padding: 4px;
}

.tab-pane-table {
	background-color: white;
	padding: 8px;
	border-radius: 4px;
	border: 1px solid silver;
}

[data-bs-theme=dark] .tab-pane-table {
	background-color: rgb(36, 31, 49);
}

.tab-pane-glassy {
	background: rgba(255, 255, 255, 0.5);
	padding: 8px;
	border-radius: 4px;
	border: 1px solid silver;
}

.inputtimefield {
	min-width: 70px !important;
}

.spanlabel {
	display: inline-block;
	margin-top: 4px;
	margin-bottom: 4px;
}

.btn-bordered {
	border: 1px solid rgba(1, 1, 1, 0.0);
	border-radius: 4px;
}

.btn-bordered:hover {
	border: 1px solid silver;
}

.btn-secondaryhover:hover {
	background-image: linear-gradient(to right bottom, #99c1f1, #1a5f64);
	color: white;
}

.btn-dangerhover:hover {
	background-image: linear-gradient(to right bottom, rgba(255, 128, 0, 0.3),
		rgba(255, 128, 0, 1));
}

.clock {
	background-image: url("../png/clock.png");
	background-repeat: no-repeat;
}

.schedule {
	min-width: 90vh;
	max-width: 90vh;
	min-height: calc(90vh - 100px);
	max-height: calc(90vh - 100px);
	margin: 8px;
}