<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout/main.html}">
<head>
<title>Timetrack</title>
</head>
<body>
	<ul layout:fragment="menu">
	</ul>
	<main layout:fragment="content">
		<div style="margin: 10vh">
			<div class="alert alert-danger" role="alert" style="vertical-align: middle; align: center">
				<p>Es ist ein Fehler aufgetreten:</p>
				<p th:text="${message}" />
				<a th:href="@{/}" class="alert-link">Ach, Mist...</a>
			</div>
		</div>
	</main>
</body>
</html>

