<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout/main.html}">
<head>
<title>Kontakte</title>
</head>
<body>
	<font layout:fragment="title">Kontakte</font>
	<ul layout:fragment="menu">
		<li class="nav-item" sec:authorize="hasRole('timetrack_user')"><a class="nav-link btn btn-success btn-white-text" th:href="@{/contact/add}">Neuen
				Kontakt anlegen</a></li>
	</ul>
	<main layout:fragment="content">
		<ul class="nav nav-tabs navback" role="tablist">
			<li class="nav-item"><a class="nav-link navlinkstyle active" data-bs-toggle="tab" href="#div_dashboard">Dashboard</a></li>
			<li class="nav-item"><a class="nav-link navlinkstyle" data-bs-toggle="tab" href="#div_list">Liste</a></li>
		</ul>
		<div class="tabdivblurred tab-content">
			<div id="div_dashboard" class="tab-pane active">
				<div class="accordion-body">
					<div class="row row-cols-12 ro-cols-lg-4 ro-cols-md-3 ro-cols-sd-2 g-4" style="margin: 8px">
						<div class="col" th:each="contact : ${contactList}">
							<div class="card shadow" style="width: 18rem">
								<div class="card-header text-center">
									<font th:text="${contact.forename} + ' ' + ${contact.surname}" style="font-size: larger"></font>
								</div>
								<div class="card-body">
									<div class="d-flex justify-content-center align-items-center">
										<span th:text="${contact.type} + ': ' + ${contact.contact}"></span> <a
											th:href="@{/contact/edit/{id}(id=${contact.pk})}" sec:authorize="hasRole('timetrack_user')" style="margin-left: 8px;">
											<i class="fa fa-edit"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="div_list" class="tab-pane fade tab-pane-table">
				<div class="accordion-body">
					<table id="table" class="table table-striped table-condensed">
						<thead>
							<tr>
								<th>Vorname</th>
								<th>Nachname</th>
								<th>Kontakt</th>
								<th>Typ</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="contact : ${contactList}">
								<td><a th:href="@{/contact/edit/{id}(id=${contact.pk})}"><span th:text="${contact.forename}"></span></a></td>
								<td><a th:href="@{/contact/edit/{id}(id=${contact.pk})}"><span th:text="${contact.surname}"></span></a></td>
								<td><a th:href="@{/contact/edit/{id}(id=${contact.pk})}"><span th:text="${contact.contact}"></span></a></td>
								<td><a th:href="@{/contact/edit/{id}(id=${contact.pk})}"><span th:text="${contact.type}"></span></a></td>
							</tr>
						</tbody>
					</table>
					<script type="text/javascript">
						$(document).ready(function(){
							var localeUrl = '[[@{/js/dataTables/de.json}]]';
							$("#table").DataTable({
								"language" : {
									"url" : localeUrl
								}
							});
						});
					</script>
				</div>
			</div>
		</div>
	</main>
</body>
</html>