<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout/main.html}">
<head>
<title>Arbeitszeit</title>
</head>
<body>
	<font layout:fragment="title">Arbeitszeit</font>
	<ul layout:fragment="menuitem">
		<li class="nav-item" sec:authorize="hasRole('timetrack_user')">
			<form th:action="@{/done/list}" th:object="${doneModel}" method="post">
				<div class="nav-link" style="padding-top: 5px !important; padding-bottom: 0px !important">
					<div class="input-group input-group-sm mb-3" style="margin-bottom: 0px !important">
						<input type="date" class="form-control" th:value="*{day}" th:field="*{day}" />
						<button type="submit" class="btn btn-primary btn-sm">Ok</button>
					</div>
				</div>
			</form>
		</li>
	</ul>
	<ul layout:fragment="menu">
		<li class="nav-item" sec:authorize="hasRole('timetrack_user')">
			<table>
				<tr>
					<td><a class="nav-link btn btn-success btn-white-text" th:href="@{/done/add/{day}(day=${doneModel.day})}">Neuer
							Eintrag</a></td>
					<td style="padding-left: 8px"><a class="nav-link btn btn-bordered btn-dangerhover" style="width: 44px" th:href="@{/done/list}"><i class="fas fa-sync"></i></a></td>
				</tr>
			</table>
		</li>
	</ul>
	<main layout:fragment="content">
		<ul class="nav nav-tabs navback" role="tablist">
			<li class="nav-item"><a class="nav-link navlinkstyle active" data-bs-toggle="tab" href="#div_list">Liste</a></li>
			<li class="nav-item"><a class="nav-link navlinkstyle" data-bs-toggle="tab" href="#div_schedule">Kalender</a></li>
			<li class="nav-item"><a class="nav-link navlinkstyle" data-bs-toggle="tab" href="#div_project">Projekt</a></li>
			<li class="nav-item"><a class="nav-link navlinkstyle" data-bs-toggle="tab" href="#div_module">Modul</a></li>
			<li class="nav-item"><a class="nav-link navlinkstyle" data-bs-toggle="tab" href="#div_job">Aufgabe</a></li>
			<li class="nav-item"><a class="nav-link navlinkstyle" data-bs-toggle="tab" href="#div_billing">Abrechnung</a></li>
		</ul>
		<div class="tabdivblurred tab-content">
			<div id="div_list" class="tab-pane active tab-pane-table">
				<table class="table table-striped table-condensed">
					<thead>
						<tr>
							<th>Zeit</th>
							<th>Dauer</th>
							<th>Projekt</th>
							<th>Modul</th>
							<th>Aufgabe</th>
							<th>Abrechnung</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="done : ${doneList}">
							<td><a class="hoverlink" th:href="@{/done/edit/{id}(id=${done.pk})}"><span th:text="${done.timeNote}"></span></a></td>
							<td><a class="hoverlink" th:href="@{/done/edit/{id}(id=${done.pk})}"><span th:text="${done.timeDiff}"></span></a></td>
							<td><a class="hoverlink" th:href="@{/done/edit/{id}(id=${done.pk})}"><span class="boldtext"
									th:text="${done.project?.name}"></span></a></td>
							<td><a class="hoverlink" th:href="@{/done/edit/{id}(id=${done.pk})}"><span class="boldtext"
									th:text="${done.module?.name}"></span></a></td>
							<td><a class="hoverlink" th:href="@{/done/edit/{id}(id=${done.pk})}"><span class="boldtext"
									th:text="${done.activity?.name}"></span></a></td>
							<td><span th:text="${done.billing.shortcut}" th:class="'billing ' + ${done.billing.csskey}"
								th:if="${done.billing != null}"></span></td>
							<td><a th:href="@{/done/edit/{id}(id=${done.pk})}" th:title="${done.pk}"><i class="fa fa-edit"></i></a></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td>Zusammenfassung</td>
							<td>Start: <span class="emphgreen" th:text="${sum.start}"></span></td>
							<td>Ende: <span class="emphgreen" th:text="${sum.end}"></span></td>
							<td>Arbeitszeit total: <span class="emphblue" th:text="${sum.total}"></span></td>
							<td>Pausezeit total: <span class="emphorange" th:text="${sum.pause}"></span></td>
							<td>Überstunden: <span class="emphred" th:text="${sum.overdue}"></span></td>
						</tr>
						<tr>
							<td></td>
							<td><span th:if="${sum.getBillingTime('WP2') != '0,0 h'}"><span class="billing WP2">WP2</span><span
									th:text="${sum.getBillingTime('WP2')}" class="distfat"></span></span></td>
							<td><span th:if="${sum.getBillingTime('WP4') != '0,0 h'}"><span class="billing WP4">WP4</span><span
									th:text="${sum.getBillingTime('WP4')}" class="distfat"></span></span></td>
							<td><span th:if="${sum.getBillingTime('WP5') != '0,0 h'}"><span class="billing WP5">WP5</span><span
									th:text="${sum.getBillingTime('WP5')}" class="distfat"></span></span></td>
							<td><span th:if="${sum.getBillingTime('TA3') != '0,0 h'}"><span class="billing TA3">TA3</span><span
									th:text="${sum.getBillingTime('TA3')}" class="distfat"></span></span></td>
							<td><span class="billing">X</span><span th:text="${sum.getBillingTime(null)}" class="distfat"></span></td>
						</tr>
					</tfoot>
				</table>
			</div>
			<div id="div_schedule" class="tab-pane fade tab-pane-table">
				<div id="schedule" class="schedule"></div>
			</div>
			<div id="div_project" class="tab-pane fade tab-pane-table">
				<table id="project_table" class="table table-striped table-condensed">
					<thead>
						<tr>
							<th>Name</th>
							<th>Benutzt in %</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="project : ${projectList}">
							<td><span th:text="${project.name}"></span></td>
							<td><span th:text="${project.percentUsage}"></span></td>
							<td><a th:href="@{/done/edit/project/{id}(id=${project.pk})}" th:title="${project.pk}"><i class="fa fa-edit"></i></a></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="3"><a class="nav-link btn btn-success btn-white-text" th:href="@{/done/add/project}">neues Projekt</a>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
			<div id="div_module" class="tab-pane fade tab-pane-table">
				<table id="module_table" class="table table-striped table-condensed">
					<thead>
						<tr>
							<th>Name</th>
							<th>Benutzt in %</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="module : ${moduleList}">
							<td><span th:text="${module.name}"></span></td>
							<td><span th:text="${module.percentUsage}"></span></td>
							<td><a th:href="@{/done/edit/module/{id}(id=${module.pk})}" th:title="${module.pk}"><i class="fa fa-edit"></i></a></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="3"><a class="nav-link btn btn-success btn-white-text" th:href="@{/done/add/module}">neues Modul</a></td>
						</tr>
					</tfoot>
				</table>
			</div>
			<div id="div_job" class="tab-pane fade tab-pane-table">
				<table id="job_table" class="table table-striped table-condensed">
					<thead>
						<tr>
							<th>Name</th>
							<th>Benutzt in %</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="job : ${jobList}">
							<td><span th:text="${job.name}"></span></td>
							<td><span th:text="${job.percentUsage}"></span></td>
							<td><a th:href="@{/done/edit/job/{id}(id=${job.pk})}" th:title="${job.pk}"><i class="fa fa-edit"></i></a></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="3"><a class="nav-link btn btn-success btn-white-text" th:href="@{/done/add/job}">neue Aufgabe</a></td>
						</tr>
					</tfoot>
				</table>
			</div>
			<div id="div_billing" class="tab-pane fade tab-pane-table">
				<table id="billing_table" class="table table-striped table-condensed">
					<thead>
						<tr>
							<th>Name</th>
							<th>Symbol</th>
							<th>Benutzt in %</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="billing : ${billingList}">
							<td><span th:text="${billing.name}"></span></td>
							<td><span th:text="${billing.shortcut}" th:class="'billing ' + ${billing.csskey}"></span></td>
							<td><span th:text="${billing.percentUsage}"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function() {
				let width = parseInt($("#schedule").css("min-width"));
				let height = parseInt($("#schedule").css("min-height"));
				var schedule = new Schedule("#schedule", width, height);
				var ctx = $("#scheduleCanvas")[0].getContext("2d");
				var currentDayRecords = JSON.parse('[(${schedule})]');
				var scheduleRecords = currentDayRecords.schedule;
				for (var i = 0; i < scheduleRecords.length; i++) {
					var r = scheduleRecords[i];
					var cssClass = r.billing;
					var color = "#ffffff";
					if (cssClass == "WP5") {
						color = "#aa0000";
					} else if (cssClass == "WP4") {
						color = "#0000aa";
					} else if (cssClass == "WP2") {
						color = "#aaaa00";
					} else if (cssClass == "TA3") {
						color = "#00aa00";
					}
					/* daySlot 7 = sunday, but this should be slot 0 */
					schedule.drawSlot(ctx, r.daySlot > 6 ? 0 : r.daySlot, r.from, r.until, "black", color);
				}
				var localeUrl = '[[@{/js/dataTables/de.json}]]';
				$("#project_table").DataTable({
					"language" : {
						"url" : localeUrl
					}
				});
				$("#module_table").DataTable({
					"language" : {
						"url" : localeUrl
					}
				});
				$("#job_table").DataTable({
					"language" : {
						"url" : localeUrl
					}
				});
				$("#billing_table").DataTable({
					"language" : {
						"url" : localeUrl
					}
				});
			});
		</script>
	</main>
</body>
</html>